{% extends "base.njk" %}

{% block content %}
  <div>
    <img width="100px"src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1597171385/jc-logo-blue_gdsznb.png" alt="Just Connect Logo"/>
  </div>
  <h2>Just Connect is undergoing some routine maintenance</h4>
  <p>We will be back shortly.</p>
{% endblock %}
